{% extends "base.html" %}

{% block content %}

    <h1>Sign up to start posting your blogs!</h1>
    <form action="/signup" method="POST">
    
    <input name="username" type="text" value="{{ username }}" placeholder="Username">
    <p>{{ username_error }}{{exist_error}}</p>

    <input name="password" type="password" value="{{ password }}" placeholder="Password">
    <p>{{ password_error }}</p>

    <input name="verify" type="password" value="{{ verify }}" placeholder="Verify Password">
    <p>{{ verify_error }}</p>

    <input type="submit" value="Sign up">
    
    </form>
{% endblock %}